.title {
  margin: 50px;
  margin-bottom: 20px;
  text-align: center;
}
h3 {
}

.para {
  display: inline-block;
  margin: 50px;
  background-color: white;
  color: blue;
}

body{
  background-color: ;
}